@font-face {
  font-family: Open Sans Bold, sans-serif;
  src: url(/fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: Open Sans Regular, sans-serif;
  src: url(/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

  
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  overflow-x: hidden;
  }

.header_container {
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header_container::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0a0e34;
  opacity: 0.9;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;   
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.socials_item {
  border-radius: 50px;
  background-color: #5e42b0;
  z-index: 2;
}

.socials_link_app-store, .socials_link_google-play {
  display: flex;
  align-items: center;
}

.socials_title {
  display: flex;
  flex-direction: column;
}

.socials_icon, .logo_icon {
  fill: #ffffff;
}

.socials_name {
  font-weight: bold;
}

.socials_list, .socials_link_app-store, .socials_link_google-play {
  -webkit-appearance: none;
  -moz-appearance: none;
  list-style-type: none;
    
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.logo-link {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.article_title_first, .article_title_second {
  text-transform: uppercase;
  color: #e7e7e7;
}

.article_title_2 {
  text-transform: uppercase;
  color: #c1c1c1;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.title_number {
  color: #000000;
  font-weight: bold;
  position: relative;
}

.title_number::after {
  content: "";
  position: absolute;
  background-color: #5e42b0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card_content_1:nth-child(3) .title_number::after, .card_content_2:nth-child(3) .title_number::after {
  background-color: #ffffff;
}

.card_content_1:nth-child(3) .article_paragraph, .card_content_2:nth-child(3) .article_paragraph {
  color: #ffffff;
}

.card_content_2:nth-child(3) .title_number {
  color: #8765dd;
}

.aside_content-title {
  text-transform: uppercase;
  color: #e7e7e7;
  position: relative;
}

.aside_title-number {
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #5e42b0;
  position: relative;
}

.aside_title-number::after {
  content: "";
  position: absolute;
  background-color: #8f7bc8;
  width: 1.6rem;
  height: 0.4rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.footer::after {
content: "";
width: 100%;
height: 100%;
background-color: #0a0e34;
opacity: 0.9;

position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.footer_title {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-align: center;
}

.logo_footer {
  fill: #ffffff;
  position: relative;
  z-index: 2;
}

.card_content_1:nth-child(3n+2), .card_content_2:nth-child(3n+2) {
  background-color: #f5f4f9;  
}

.card_content_1:nth-child(3) {
  background-color: #5e42b0;
}

.card_content_2:nth-child(3) {
  background-color: #090c35;
}

@media (min-width: 320px) and (max-width: 640px) {
  body {
    font-size: 8px;
  }

  .header_container {
    background-image: url(../img/football_767.jpg);
    min-width: 200vw;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
  }

  .logo {
    width: 13rem;
    fill: #ffffff;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .header-title {
    font-size: 3.5rem;
    width: 32.5rem;
    padding-top: 16rem;
    margin-left: auto;
    margin-right: auto;
  }

  .header_title_1 {
    margin-bottom: 16px;
    text-align: left;
  }

  .socials_list {
    flex-wrap: wrap;
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
  }

  .socials_item {
    justify-content: center;
    width: 35rem;
    height: 3.4rem;
    padding-top: 1rem;
  }

  .socials_item:nth-child(n+2) {
    margin-top: 2rem;
  }

  .socials_icon {
    width: 3rem;
    height: 2.5rem;
  }

  .socials_title {
    font-size: 0.9rem;
    text-align: left;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    min-width: 200vw;
  }

  .img_article_footballer {
    position: absolute;
    width: 120vw;
    top: 79rem;
    left: 9rem;
  }

  .img_article_basketballer {
    position: absolute;
    width: 180vw;
    top: 201rem;
    left: 2rem;
  }

  .article_title_first, .article_title_second  {
    font-size: 6.3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
  }

  .article_paragraph {
    font-size: 1.8rem;
  }

  .card_content_1, .card_content_2 {
    padding: 6rem 3rem;
  }

  .card_content_1:first-child, .card_content_2:first-child {
    background-color: #fafafa;
    margin-top: 30rem;
  }

  .article_title_2 {
    font-size: 2.6rem;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
  }

  .title_number {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    margin-left: -2.7rem;
  }

  .title_number::after {
    width: 1.6rem;
    height: 0.4rem;
    margin: -0.3rem auto;
  }
  
  .aside {
    display: flex;
    flex-wrap: wrap;
    min-width: 200vw;
  }

  .aside_content {
    padding-top: 2.2rem;
  }

  .aside_content-title {
    font-size: 3.5rem;
    right: 8.5rem;
  }

  .aside_title-number {
    font-size: 1.7rem;
    top: -8.5rem;
    left: 11rem;
    padding: 3.75rem 4.38rem;
  }

  .aside_title-number::after {
    margin: 3.3rem auto;
  }

  .aside_content-container {
    font-size: 1.9rem;
    padding: 1.5rem 2rem 8rem;
  }
  
  .footer {
    background-image: url(../img/game_767.jpg);
    min-width: 200vw;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
  }

  .footer_title {
    padding-top: 9rem;
  }

  .footer_title-1 {
    font-size: 3.4rem;
    color: #ffffff; 
    font-weight: bold; 
  }

  .footer_title-2 {
    font-size: 1.2rem;
    color: #9b8ec1;
  }

  .logo_footer {
    width: 78px;
    background: linear-gradient(#7656d6, #51379b);
    border-radius: 25px;
    padding: 1.5rem 1.5rem;
  }

  .footer .download_socials {
    margin-bottom: 9rem;
  }

}

@media (min-width: 641px) and (max-width: 960px) {
  body {
    font-size: 12px;
  }

  .header_container {
    background-image: url(../img/football_1280.jpg);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .logo {
    width: 15rem;
    fill: #ffffff;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .header-title {
    font-size: 3.33rem;
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-top: 7rem;
  }

  .header_title_1 {
    text-align: left;
  }

  .socials_list {
    margin-left: auto;
    margin-right: auto;
  }

  .socials_item {
    width: 20rem;
    height: 3rem;
    justify-content: center;
    padding-top: 1rem;
  }

  .socials_item:nth-child(n+2) {
    margin-left: 2rem;
  }

  .socials_icon {
    width: 2.7rem;
    height: 2.2rem;
  }

  .socials_title {
    font-size: 0.7rem;
    text-align: left;
    line-height: 0.9rem;
  }

  .article {
    padding-top: 2rem;
  }

  .article_title_first {
    font-size: 4rem;
    margin-left: 9rem;
    padding-left: 8rem;
  }

  .img_article_footballer {
    position: absolute;
    left: -8rem;
    top: 48rem;
    width: 27rem;
  }

  .article_paragraph {
    font-size: 0.9rem;
    padding-left: 15rem;
    margin-top: 0.8rem;
  }

  .card_content_1, .card_content_2 {
    padding: 1.7rem 2rem;
  }

  .article_title_2 {
    font-size: 1.5rem;
    padding-left: 16.5rem;
    position: relative;
  }

  .title_number {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-left: -1.6rem;
  }

  .title_number::after {
    width: 1.1rem;
    height: 0.3rem;
    margin: -0.3rem auto;
  }

  .img_article_basketballer {
    position: absolute;
    top: 84rem;
    right: 0;
    width: 22rem;
  }

  .article_title_second {
    font-size: 4rem;
    margin-left: 2rem;
  }

  .card_content_2 .article_title_2 {
    font-size: 1.5rem;
    padding-left: 2rem;
    position: relative;
  }

  .card_content_2 .article_paragraph {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 15rem;
    margin-top: 0.8rem;
  }

  .aside {
    display: flex;
    flex-wrap: wrap;
  }

  .be-active-img, .find-contact-img, .work-it-img {
    width: 100%;
  }

  .aside_content {
    padding-top: 2rem;
  }

  .aside_content-title {
    font-size: 3.5rem;
    left: -5.8rem;
  }

  .aside_title-number {
    font-size: 1.7rem;
    top: -7rem;
    left: 8.3rem;
    padding: 2.7rem 3rem;
  }

  .aside_title-number::after {
    margin: 2.5rem auto;
  }

  .aside_content-container {
    font-size: 1.3rem;
    padding: 1rem 2.4rem 5rem;
  }
  
  .footer {
    background-image: url(../img/game_1280.jpg);
    text-align: center;
    min-width: 100vw;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  .footer_title-1 {
    font-size: 4rem;
    color: #ffffff; 
    font-weight: bold;
    margin-top: 2rem; 
  }

  .footer_title-2 {
    font-size: 1.6rem;
    color: #9b8ec1;
    margin-top: -0.4rem;
  }

  .logo_footer {
    width: 79px;
    background: linear-gradient(#7656d6, #51379b);
    border-radius: 25px;
    padding: 1.3rem 1.3rem;
  }

  .footer .download_socials {
    margin-top: 12rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 961px) {
  body {
    font-size: 16px;
  }
  
  .header_container {
    background-image: url(../img/football_1920.jpg);
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .logo {
    width: 11rem;
    fill: #ffffff;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .header-title {
    font-size: 5rem;
    width: 90rem;
    margin: 10rem auto;
  }

  .header_title_1 {
    text-align: left;
  }

  .header_title_2 {
    text-align: center;
  }

  .socials_list {
    margin-left: auto;
    margin-right: auto;
  }

  .socials_item {
    width: 19rem;
    height: 3.5rem;
    padding-top: 0.8rem;
  }

  .socials_item:nth-child(n+2) {
    margin-left: 3.25rem;
  }

  .socials_icon {
    width: 3rem;
    height: 2.8rem;
  }

  .socials_title {
    font-size: 0.8rem;
    text-align: left;
    margin-left: 1rem;
    line-height: 1rem;
  }

  .article {
    padding-top: 4rem;
  }

  .article_title_first {
    font-size: 5rem;
    margin-left: 48rem;
    padding-left: 10rem;
  }

  .img_article_footballer {
    position: absolute;
    top: 53rem;
    left: 18rem;
    width: 36rem;
  }

  .article_paragraph {
    font-size: 1.25rem;
    padding-left: 46rem;
    margin-top: 1.4rem;
  }

  .card_content_1, .card_content_2 {
    padding: 4.1rem 12rem;
  }

  .article_title_2 {
    font-size: 2.25rem;
    padding-left: 48rem;
    position: relative;
    margin-bottom: -0.7rem;
  }

  .title_number {
    font-size: 1.24rem;
    margin-left: -1.7rem;
    padding-right: 0.5rem; 
  }

  .title_number::after {
    width: 1.2rem;
    height: 0.3rem;
    top: 1.7rem;
  }

  .img_article_basketballer {
    position: absolute;
    top: 110rem;
    right: 3rem;
    width: 61rem;
  }

  .article_title_second {
    font-size: 5rem;
    margin-left: 10rem;
  }

  .card_content_2 .article_title_2 {
    font-size: 2.25rem;
    margin-left: -48rem;
    margin-bottom: -0.7rem;
    position: relative;
  }

  .card_content_2 .article_paragraph {
    font-size: 1.25rem;
    padding-right: 45rem;
    padding-top: 1.4rem;
    margin-left: -48rem;
  }

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aside_card {
    display: flex;
    align-items: center;
  }

  .aside_card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .aside_card:nth-child(even) .aside_title-number {
    left: 59rem;
  }

  .aside_content-title {
    font-size: 5rem;
    margin-left: -6rem;
    margin-bottom: 4rem;
  }

  .aside_title-number {
    font-size: 1.3rem;
    top: -1.4rem;
    right: 5rem;
    padding: 2.8rem 3.5rem;
  }

  .aside_title-number::after {
    margin: 2.4rem auto;
    width: 1.4rem;
    height: 0.3rem;
  }

  .aside_content {
    width: 800px;
    padding: 5rem 7rem;
  }

  .aside_content-container {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  
  .footer {
    background-image: url(../img/game_1920.jpg);
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }

  .footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
  }

  .footer_title {
    padding-left: 2rem;
    text-align: left;
  }

  .footer_title-1 {
    font-size: 4rem;
    color: #ffffff; 
    font-weight: bold; 
  }

  .footer_title-2 {
    font-size: 1.6rem;
    color: #9b8ec1;
    margin-top: -0.4rem;
  }

  .logo_footer {
    width: 79px;
    background: linear-gradient(#7656d6, #51379b);
    border-radius: 25px;
    padding: 1.3rem 1.3rem;
  }

  .footer .socials_list {
    margin-top: 4rem;
  }

  .footer .download_socials {
    margin-bottom: 16rem;
  }
}

